@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap");

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Body and Text */
body {
  font-family: "Cinzel", serif;
  font-size: 16px;
  color: #444;
}

h1,
h2,
h3 {
  font-family: "Cinzel", serif;
}

h1 {
  font-size: 36px;
  color: #444;
}

h2 {
  font-size: 28px;
  color: #444;
}

/* Links */
a {
  color: #444;
  text-decoration: none;
}

/* Buttons */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #c9b27d; /* Tuscany Brown */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #e07a5f; /* Burnt Orange */
}

/* Backgrounds */
.bg-light {
  background-color: #f5f2e9; /* Light Beige */
}

.bg-dark {
  background-color: #444; /* Dark Navy */
  color: #fff; /* Light text for contrast */
}
